/* makes all images squares to the sides */
img{
    float: left;
    padding: 10px;
    height: 120px;
    width: 160px;
    
    
}
/* names */
h2{
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: bold;
}

/* lines between members */
hr{
    border-top: 3px double rgb(46, 50, 56);
    width: 80%;
    
}
