img{
    float: left;
    padding: 10px;
    height: 120px;
    width: 160px;
    
    
}
h2{
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: bold;
}

hr{
    border-top: 3px double rgb(46, 50, 56);
    width: 80%;
    
}
/* hr:before {
    background-color: #f38034;
    border-radius: 50%;
    content: " ";
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -5px;
    width: 10px;
} */